.jumbotron{
    background-image: url("https://images.unsplash.com/photo-1473654729523-203e25dfda10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-size: cover;
    border: 0;
    border-radius: 0;
    background-position: 0px 67%;
    opacity: 0.88;
}

h1{
    color: #EEEeee;
    font-family: 'Merriweather', serif;
    font-size: 5rem;
}

body{
    background: #EEEeee;
}

.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}